
<div class="modal-header">
  <h3>Edit</h3>
</div>
<div class="modal-body">
	<label>Name: <input type="text" ng-model="md.player.name"></label><br>
	<label>Age: <input type="number" ng-model="md.player.age"></label><br>
	<label>Position: <input type="text" ng-model="md.player.position"></label><br>
</div>
<div class="modal-footer">
  <button type="button" class="btn" data-ng-click="md.cancel()">Cancel</button>
  <button class="btn btn-primary" data-ng-click="md.proceed()">Edit</button>
</div>
