// Variables

@brand-primary: #2C3E50;
@brand-success: #18BC9C;
@gray-lighter: lighten(#000, 93.5%);




@primary-background: #FCF5EA;
@secondary-background: #252A4C;
@alternative-background: #646464;


@primary-color: #16192D;
@primary-text: #777;
@secondary-color: white;
	
@primary-border: 10px solid fade(@primary-color, 10%);