// Variables


@primary-background: white;
@secondary-background: #02b8d8;
@alternative-background: #646464;
@navbar-background: fade(@primary-color, 10%);

@primary-color: white;
@primary-text: #777;
@secondary-color: #0099D9;
	
@primary-border: 10px solid fade(#777, 10%);