
<div class="modal-header">
  <h3>Edit</h3>
</div>
<div class="modal-body">
	<label>Name: <input type="text" ng-model="md.beef.name"></label><br>
	<label>Grade: <input type="number" ng-model="md.beef.grade"></label><br>
	<label>Popularity: <input type="text" ng-model="md.beef.popularity"></label><br>
</div>
<div class="modal-footer">
  <button type="button" class="btn" data-ng-click="md.cancel()">Cancel</button>
  <button class="btn btn-primary" data-ng-click="md.proceed()">Edit</button>
</div>
