<div class="panel-header panel-primary">
	<div class="container">
		<!-- REGISTRATION FORM -->
		<div class="text-center" style="padding:20px 0">
			<div class="logo">register</div>
			<!-- Main Form -->
			<div class="login-form-1">
				<form name="reqform" id="register-form" class="text-left" novalidate>
					<div class="login-form-main-message">
					</div>
					<div class="main-login-form">
						<div class="login-group">
							
							<div class="form-group">
								<label for="reg_username" class="sr-only">Email address</label>
								<input type="text" class="form-control" name="name" placeholder="username" ng-model="name" username-validator>
								    

							</div>
							
							<div class="form-group">
								<label for="reg_password" class="sr-only">Password</label>
								<input type="password" class="form-control" id="reg_password" name="reg_password" placeholder="password">
							</div>
							<div class="form-group">
								<label for="reg_password_confirm" class="sr-only">Password Confirm</label>
								<input type="password" class="form-control" id="reg_password_confirm" name="reg_password_confirm" placeholder="confirm password">
							</div>
							
							<div class="form-group">
								<label for="reg_email" class="sr-only">Email</label>
								<input type="text" class="form-control" id="reg_email" name="reg_email" placeholder="email">
							</div>
							<div class="form-group">
								<label for="reg_fullname" class="sr-only">Full Name</label>
								<input type="text" class="form-control" id="reg_fullname" name="reg_fullname" placeholder="full name">
							</div>
							
							<div class="form-group login-group-checkbox">
								<input type="radio" class="" name="reg_gender" id="male" placeholder="username">
								<label for="male">male</label>
								
								<input type="radio" class="" name="reg_gender" id="female" placeholder="username">
								<label for="female">female</label>
							</div>
							
							<div class="form-group login-group-checkbox">
								<input type="checkbox" class="" id="reg_agree" name="reg_agree">
								<label for="reg_agree">i agree with <a href="#">terms</a></label>
							</div>
						</div>
						<button ng-disabled="form.$invalid || form.$pending" type="submit" class="login-button" ng-click="rg.dummy_submit_form()"><i class="fa fa-chevron-right"></i></button>
					</div>
					<div class="etc-login-form">
						<p>already have an account? <a  ui-sref="login">login here</a></p>
					</div>
				</form>
			</div>
									<span ng-show="reqform.name.$pending.username">Checking if this name is available...</span>
    								<span ng-show="reqform.name.$error.userNameValidator">This username is already taken!</span>
			<!-- end:Main Form -->
		</div>
	</div>
</div>